rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Images des produits
    match /products/{userId}/{imageId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Photos de profil
    match /profiles/{userId}/{imageId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Images des messages
    match /messages/{conversationId}/{imageId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
